.App {
  text-align: center;
}

@font-face {
  font-family: StarJedi;
  src: url(fonts/StarJedi.ttf);
}

@font-face {
  font-family: SIMPLIFICA;
  src: url(fonts/SIMPLIFICA.ttf);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.4rem;
}

p, span {
  font-size: 1rem;
}

.App-header {
  background-image: url(images/star-wars.jpg);
  /* background-color: #111; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: SIMPLIFICA;
  font-size: calc(25px + 2vmin);
  font-weight: 700;
  min-height: 100vh;
  width: 100vw;
  max-height: 100vh;
}

#yoda-img {
  height: 200px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

#title h1,
#title h2 {
  margin: 10px;
}

#translation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90vw;
  margin-top: 30px;
}

#translation label {
  color: #FFE81F;
  padding-top: 10px;
  padding-left: 20px;
}

#translation textarea {
  padding: 20px 10px !important;
}

#translate-button {
  margin-bottom: 20px;
  background-color: #FFE81F;
  color: #000;
  font-family: StarJedi;
}

#footer {
  margin-bottom: 30px;
}

.fade {
  opacity: 0;
  animation: FadeIn 1s ease-in-out forwards;
}

.fade-faster {
  opacity: 0;
  animation: FadeIn 0.5s ease-in-out forwards;
}

.star-wars-font {
  font-family: StarJedi;
  color: #FFE81F;
}

@media (max-height: 700px) {
  .App-header {
    justify-content: space-evenly;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}